.chat-main
  .group-info
    .group-info__items
      .group-info__items__group-name
        = @group.name
      .group-info__items__users
        Member : 
        - @group.users.each do |user|
          = user.name
    .group-info__edit-btn
      =link_to edit_group_path(@group.id), class: "group-info__edit-btn__text" do
        Edit
  .message-list
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class:"input-box__text", placeholder:  "type a message"
        = f.label :image, class: "input-box__image" do
          = icon('far', 'image', class: 'input-box__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
      -#   %input{type: "text", class: "input-box__text", placeholder:"type a message"}
      -#   %label{class: "input-box__image"}
      -#     = icon('fas', 'image')
      -#     %input{type: 'file', class: "input-box__image__file"}
      -# %input{type: "submit", value: "Send",class: "submit-btn"}