.side-bar
  .side-header
    .side-header__items
      .side-header__items__name
        = current_user.name
      %ul.side-header__items__menu
        %li.side-header__items__edit-btn
          = link_to "#" do
            = icon('fas','edit')
        %li.side-header__items__config-btn
          = link_to edit_user_path(current_user) do
            = icon('fa', 'cog')
  .group-list
    .group-list__group-name
      techcamp
    .group-list__message
      まだメッセージがありません
    .group-list__group-name
      2
    .group-list__message
      まだメッセージがありません